#list-articles {
  min-height: 800px;
  padding: 100px 10px 80px 10px;
  /* margin-bottom: 50px; */
}

#list-articles a {
  color: var(--pure-black);
}

.article-items {
  max-width: 750px;
  margin: auto;
}

.article-item {
  position: relative;
  display: flex;
  padding: 10px;
  margin: auto;
  width: 650px;
  font-family: 'Roboto Slab', serif;
  border-radius: 0.1rem;
}

.dark-overlay {
  position: absolute;
  width: 650px;
  height: 150px;
  text-align: center;
  background-color: var(--black-color);
  border-radius: 0.1rem;
  opacity: 0;
}

.dark-overlay i {
  padding-top: 50px;
  color: white;
}

.article-info {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 500px;
  height: 150px;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.1);
}

.article-img img {
  width: 150px;
  height: 150px;
}

.article-topic {
  opacity: 0.4;
}

.article-desc {
  opacity: 0.7;
  overflow: hidden!important;
  max-height: 40px!important;
  text-overflow: ellipsis!important;
  display: -webkit-box!important;
  -webkit-line-clamp: 2!important;
  -webkit-box-orient: vertical;
}

.article-date {
  opacity: 0.5;
}

.topics-menu {
  position: fixed;
  top: 110px;
  bottom: 160px;
  right: 0;
  width: 250px;
  border: solid 0.5px rgba(0, 0, 0, 0.64);
  border-radius: 1rem 0 0 1rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
}

.topics-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

.topic-menu:first-child {
  font-size: 1.2rem;
  color: var(--nice-green);
}

.topics-scroll::-webkit-scrollbar {
  width: 5px;
}

.topic-menu {
  display: flex;
  justify-content: center;
  padding: 8px;
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
  margin: 2px;
  font-size: 0.9rem;
  border-bottom: dashed 0.5px rgba(0, 0, 0, 0.24);
  transition: all 0.5s ease;
}

.topic-menu:hover {
  color: var(--pure-black);
  cursor: pointer;
}

.topic-select {
  color: var(--black-color);
  border-bottom: solid 4px var(--black-color);
  transform: scale(1.2);
}

@media( max-width: 1195px ) {

  .article-items {
    margin-left: 5%;
  }

}

@media( max-width: 1026px ) {

  .article-items {
    margin-left: 0;
  }

  .article-item {
    margin-left: 2%;
  }

}

@media( max-width: 945px ) {

  .topics-menu {
    width: 200px;
  }

}

@media( max-width: 890px ) {

  #list-articles {
    padding-top: 150px;
  }
  

  .article-items {  
    margin: auto;
  }

  .article-item {
    margin: auto;
  }

  .topics-scroll {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 15px;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
  }

  ::-webkit-scrollbar:vertical {
    width: 0px;
}

  ::-webkit-scrollbar:horizontal {
      height: 0px;
  }

  .topics-menu {
    display: flex;
    top: 57px;
    left: 0;
    right: 0;
    z-index: 20;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 0;
    background-color: var(--pure-white);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.74);
  }

  .topic-menu {
    width: auto;
    padding: 8px;
    border-bottom: none;
    font-size: 1rem;
  }

  .topic-select {
    color: #004d00;
    border: none;
    border-bottom: solid 5px #004d00;
    border-radius: 0.3rem;
    transform: scale(1.1);
  }

}

@media( max-width: 680px ) {

  .article-img {
    order: 1;
  }

  .article-order {
    order: 2;
  }

  .article-info {
    width: 100%;
  }

  .article-item {
    width: 100%;
  }

  .dark-overlay {
    display: none;
  }

  .article-img img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .article-item {
    flex-direction: column;
    border: solid 0.5px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
  }
}

.deletedA-m {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.74);
  transition: all 5s ease;
}

.deletedA-m h2 {
  display: inline;
  font-size: 1.5rem;
  padding: 10px;
  color: var(--delete-color);
}

.deletedA-m i {
  padding-bottom: 28px;
}
