/* .container {
  position: relative;
  top: 56px;
} */

.navBar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.85);
}

#writeEdit-indicator {
  font-size: 25px;
  font-family: 'Merriweather', serif;
  background-color: rgba(0, 0, 0, 0.80);
  color: #fff;
  border-radius: 0 0.2rem 0.2rem 0;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.10);
  padding: 10px;
  margin-left: -100px;
  transition: all 1s ease; 
}

.nav-flex {
  padding-right: 20%;
  padding-left: 5%;
}

.brand {
  color: rgba(0, 0, 0, 0.84);
}

.brand h3 {
  font-size: 1.6rem;
  font-family: 'Roboto Slab', serif;
  margin: 0;
}

.brand i {
  display: none;
}

.bars-icon {
  display: none;
  padding: auto;
}

.nav {
  margin-right: 20%;
}

.nav li {
  display: inline-block;
  margin-right: 20px;
  list-style-type: none;
  font-size: 1.1rem;
}

.nav li a {
  color: rgba(0, 0, 0, 0.84);
}

.page-name h2 {
  margin-top: 80px;
  margin-left: -100px;
  padding: 6px;
  text-align: left;
  position: absolute;
  z-index: 5;
  font-family: 'Merriweather', serif;
  background-color: rgba(0, 0, 0, 0.80);
  color: #fff;
  border-radius: 0 0.2rem 0.2rem 0;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.10);
  transition: all 0.5s ease;
}

@media( max-width: 906px ) {

  .nav {
    margin-right: 5%;
  }

}

@media( max-width: 740px ) {

  .brand h3 {
    display: none;
  }

  .brand i {
    display: block;
    transform: scale(1.8);
  }

}

@media( max-width: 653px ) {
  #writeEdit-indicator {
    display: none;
  }

  .page-name h2 {
    margin-left: 5px;
  }
}

@media( max-width: 540px ) {

  .navBar {
    flex-direction: column;
    padding: 16px;
  }

  .bars-icon{
    display: block;
    transform: scale(1.1);
  }

  .nav-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .nav {
    display: none;
    text-align: center;
    width: 100%;
  }

  .nav li {
    display: block;
    padding: 10px;
    border-bottom: solid 0.5px rgba(0, 0, 0, 0.84);
    font-size: 1.2rem;
  }
}

.nav-down {
  display: block;
}

#loading {
  padding: 242px 0 242px 0;
  text-align: center;
}

#home {
  position: relative;
  top: 90px;
  max-width: 900px;
  margin: auto;
}

.home-interests {
  max-width: 800px;
  margin: 20px;
  text-align: center;
}

#home h1 {
  font-size: 50px;
  font-family: 'Roboto Slab', serif;
}

#interests {
  max-width: 800px;
  margin: auto;
  margin-bottom: 50px;
}

.interest {
  width: auto;
  height: auto;
  display: inline-block;
  padding: 5px;
  margin: 4px;
  border: solid 0.5px rgba(0, 0, 0, 0.05);
  border-radius: 0.65rem;
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.84);
  font-size: 17px;
}

span.interest:hover {
  background-color: rgba(0, 0, 0, 0.24);
}

.interest-select {
  background-color: rgba(12, 242, 143, 0.2);
}

.get-started {
  margin-top: 10px;
  margin-bottom: 10px;
}

.get-started h4 {
  font-size: 20px;
  margin-bottom: 40px;
} 

.getStarted-button {
  width: auto;
  height: auto;
  padding: 1.1rem 3rem 1.1rem 3rem;
  border: 0.5px solid rgb(2, 158, 116);
  background-color: rgba(2, 158, 116);
  color: white;
  font-size: 1.2rem;
}

.getStarted-button:hover {
  opacity: 90%;
  color: white;
}

.no-ads {
  margin: 20px;
  margin-top: 90px;
}

.no-ads h2{
  font-size: 40px;
  font-family: 'Roboto Slab', serif;
}

.no-ads p {
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
  opacity: 60%;
}

.grid-container {
  margin: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  gap: 20px;
}

.grid-item1 {
  align-self: flex-end;
  padding: 1.1rem;
}

.grid-item3 h4 {
  font-size: 46px;
  font-family: 'Roboto Slab', serif;
}

#grid-background {
  position: relative;
  background-color: rgba(12, 242, 143, 0.2);
  height: 300px;
  margin-left: -90px;
  padding: 20px;
  padding-left: 85px;
  padding-right: 15px;
}

.slide {
  display: none;
}

.slide-active {
  display: block;
}

.slide h5 {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 100px;
}

.slide-author {
  position: absolute;
  font-family: 'Roboto Slab', serif;
  bottom: 8px;
  font-size: 17px;
}

.indicator {
  position: absolute;
  bottom: 8px;
  left: 200px;
}

.indicator i {
  opacity: 0.5;
}

@media( max-width: 550px ) {

  .grid-container {
    display: flex;
    flex-direction: column;
  }

  .grid-item1 {
    order: 2;
    align-self: center;
    margin-top: 30px;
  }

  .grid-item2 {
    order: 1;
  }

  #grid-background {
    margin: 10px;
    padding: 20px;
  }

}

footer {
  min-height: 150px;
  width: 100%;
  margin-top: auto;
  background-color: rgb(0, 0, 0);
}

.footer-content {
  text-align: center;
  color: white;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.google-auth {
  width: 80%;
  margin: auto;
  padding: 10px;
  color: rgba(200, 4, 4);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 0.5px solid rgb(200, 4, 4);
  border-radius: 0.1rem;
}

.modal-form {
  width: 80%;
  margin: auto;
  padding: 15px;
}

.modal-form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.1rem;
}

.modal-form button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: solid 0.5px rgba(0, 0, 0, 0.84);
  border-radius: 0.1rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.84);
}


@media( max-width: 640px ) {
  .modal-content {
    width: 350px;
  }
}

#login {
  min-height: 596px;
  padding-top: 100px;
  width: 200px;
  margin: auto;
  text-align: center;
}

.login-box {
  border: solid 0.5px rgba(0, 0, 0, 0.05);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.15);

}

.editor-form {
  position: relative;
  top: 150px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 200px;
  padding: 10px;
}


.form-input input {
  width: 100%;
  padding: 10px;
  border: solid 0.5px rgba(0, 0, 0, 0.15);
  border-radius: 0.3rem;
  font-size: 20px;
  text-transform: capitalize;
}

.desc {
  grid-column-start: 1;
  grid-column-end: 3;
}

.desc input {
  width: 100%;
  padding: 10px;
  border: solid 0.5px rgba(0, 0, 0, 0.15);
  border-radius: 0.3rem;
  font-size: 15px;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.64); 
}

.article-image {
  display: flex;
  align-items: center;
  width: 200px;
  margin-bottom: 10px;
}

.article-image input {
  width: 100%;
  padding: 11.5px;
  border: solid 0.5px rgba(0, 0, 0, 0.15);
  border-radius: 0.3rem;
}

.article-image span {
  padding: 8.5px 4px 8.5px 5px;
  border: solid 0.5px rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.84);
  border-radius: 0.2rem;
}

.article-image i {
  color: #fff;
}


.title-label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.form-buttons {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-buttons a {
  width: 20%;
  display: inline-block;
  margin-left: 10px;
  margin-top: 50px;
  color: white;
  background-color: #db2828;
  border: solid 0.5px rgba(0, 0, 0, 0.15);
  border-radius: 0.2rem;
  text-align: center;
  padding: 9px;
  transition: all 0.5s ease;
}

.form-buttons a:hover {
  color: #db2828;
  background-color: #fff;
}

.form-create {
  width: 70%;
  margin-top: 50px;
  margin-right: 10px;
  display: inline-block;
  padding: 9px;
  border: solid 0.5px royalblue;
  border-radius: 0.2rem;
  color: royalblue;
  background-color: white;
  transition: all 0.5s ease;
}

.form-create:hover {
  color: white;
  background-color: royalblue;
}

/* learn css variables to change this part */
.form-edit {
  border: solid 0.5px #4CAF50;
  color: #4CAF50;
  background-color: white;
}

.form-edit:hover {
  color: white;
  background-color: #4CAF50;
}

.select {
  background: rgba(0, 0, 0, 0.84);
  color: white;
  padding: 9px;
  font-family: 'Roboto Slab', serif;
  border-radius: 0.3rem;
}

.g-container {
  display: grid;
  grid-template-columns: 70% 20%;
  grid-gap: 10px;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 50px;
}

@media( max-width: 500px ) {

  .g-container {
    display: block;
  }

  .select {
    width: 100%;
    margin: 10px 0 10px 0;
  }

  .article-image {
    width: 100%;
  }

}

#list-articles {
  min-height: 800px;
  padding: 100px 10px 150px 10px;
  margin-bottom: 50px;
}

#list-articles a {
  color: #000;
}

.article-items {
  max-width: 750px;
  margin: auto;
}

.article-item {
  position: relative;
  display: flex;
  padding: 10px;
  margin: auto;
  width: 650px;
  font-family: 'Roboto Slab', serif;
  border-radius: 0.1rem;
}

.dark-overlay {
  position: absolute;
  width: 650px;
  height: 150px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.80);
  border-radius: 0.1rem;
  opacity: 0;
}

.dark-overlay i {
  padding-top: 50px;
  color: white;
}

.article-info {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 500px;
  height: 150px;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.01);
}

.article-img img {
  width: 150px;
  height: 150px;
}

.article-topic {
  opacity: 0.4;
}

.article-desc {
  opacity: 0.7;
  overflow: hidden!important;
  max-height: 40px!important;
  text-overflow: ellipsis!important;
  display: -webkit-box!important;
  -webkit-line-clamp: 2!important;
  -webkit-box-orient: vertical;
}

.article-date {
  opacity: 0.5;
}

@media( max-width: 680px ) {

  .article-img {
    order: 1;
  }

  .article-order {
    order: 2;
  }

  .article-info {
    width: 100%;
  }

  .article-item {
    width: 100%;
  }

  .dark-overlay {
    display: none;
  }

  .article-img img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .article-item {
    flex-direction: column;
  }

}

#display-article {
  padding: 100px 0 100px 0;
}

.topics-menu {
  position: fixed;
  top: 100px;
  right: 0;
  width: 250px;
  border: solid 0.5px rgba(0, 0, 0, 0.64);
  border-radius: 2rem 0 0 2rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
}

.topics-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 490px;
}

.topic-menu:first-child {
  font-size: 1.2rem;
  color: rgba(46, 112, 41, 1);
}

.topics-scroll::-webkit-scrollbar {
  width: 5px;
}

.topic-menu {
  display: flex;
  justify-content: center;
  padding: 8px;
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
  margin: 2px;
  font-size: 0.9rem;
  border-bottom: dashed 0.5px rgba(0, 0, 0, 0.24);
  transition: all 0.5s ease;
}

.topic-menu:hover {
  color: #000;
}

.topic-select {
  color: rgba(46, 112, 41, 1);
  border-bottom: solid 4px rgba(46, 112, 41, 1);
  transform: scale(1.2);
}

@media( max-width: 1195px ) {

  .article-items {
    margin-left: 5%;
  }

}

@media( max-width: 1026px ) {

  .article-items {
    margin-left: 0;
  }

  .article-item {
    margin-left: 2%;
  }

}

@media( max-width: 945px ) {

  .topics-menu {
    width: 200px;
  }

}

@media( max-width: 890px ) {

  #list-articles {
    padding-top: 150px;
  }
  

  .article-items {  
    margin: auto;
  }

  .article-item {
    margin: auto;
  }

  .topics-scroll {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 15px;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
  }

  ::-webkit-scrollbar:vertical {
    width: 0px;
}

  ::-webkit-scrollbar:horizontal {
      height: 0px;
  }

  .topics-menu {
    display: flex;
    top: 57px;
    left: 0;
    right: 0;
    z-index: 20;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 0;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.74);
  }

  .topic-menu {
    width: auto;
    padding: 8px;
    border-bottom: none;
    font-size: 1rem;
  }

  .topic-select {
    color: #004d00;
    border: none;
    border-bottom: solid 5px #004d00;
    border-radius: 0.3rem;
    transform: scale(1.1);
  }

}

.articleD-item {
  margin: auto;
  max-width: 1000px;
}

.articleD-info {
  max-width: 600px;
  margin: auto;
  margin-bottom: 20px;
}

.articleD-title h1 {
  text-transform: capitalize;
  font-size: 2.5rem;
  font-family: 'Playfair Display', serif;
  margin-bottom: 20px;
  margin-top: 12px;
  overflow-wrap: break-word;
}

.articleD-title h4 {
  display: inline-block;
  text-transform: capitalize;
  font-family: 'Vollkorn', serif;
  font-size: 1.3rem;
  padding: 5px;
  border: solid 0.5px rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
}

.articleD-desc h4 {
  text-transform: capitalize;
  font-family: 'Playfair Display', serif;
  font-size: 1.1rem;
  opacity: 0.54;
  margin: 5px 0 5px 0;
  overflow-wrap: break-word;
}

.articleD-date {
  font-size: 1.3rem;
  opacity: 0.54;
}

.articleD-author {
  text-transform: capitalize;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.articleD-author a {
  color: #000;
}

.authorD-info {
  padding: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.authorD-info p {
  font-size: 1.05rem;
  opacity: 0.54;
}

.articleD-author img {
  width: 50px;
  height: 50px;
  border-top: solid 1.2px rgb(21, 168, 105);
  border-bottom: solid 1.2px rgb(10, 204, 120);
  border-right: solid 0.5px white;
  border-left: solid 0.5px white;
  border-radius: 50%;
  padding: 5px;
}

.authorD-comm {
  margin-left: auto;
}

.authorD-comm i {
  margin-left: 3px;
  color: rgba(0, 0, 0, 0.80);
}

i.facebook:hover {
  transform: scale(2);
  color: #4267b2;
}

i.twitter:hover {
  transform: scale(2);
  color: #38A1F3;
}

i.linkedin:hover {
  transform: scale(2);
  color: #0073b1;
}

.articleD-image {
  text-align: center;
  max-width: 600px;
  margin: auto
}

.articleD-image img {
  width: 100%;
  object-fit: cover;
}

.articleD-image p {
  font-size: 1.3rem;
  opacity: 0.54;
}

.articleD-content {
  max-width: 600px;
  text-align: justify;
  margin: auto;
  margin-top: 50px;
  min-height: 200px;
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 2rem;
  overflow-wrap: break-word;
}

.articleD-content::first-letter {
  font-size: 3.5rem;
}

.like-icons {
  display: flex;
  max-width: 600px;
  margin: auto;
  margin-top: 40px;
  justify-content: space-between;
}

.unlike-article {
  color:rgba(219, 40, 40, 0.5);
  transition: all 0.5s;
}

/* .like-icons i.heart:hover {
  color:rgba(219, 40, 40, 0.7);
} */

.like-article {
  color:rgba(219, 40, 40, 1);
}

.editDelete-button {
  display: flex;
  flex-direction: column;
}

.editDelete-button .editD {
  padding: 8px;
  font-size: 1.2rem;
  text-align: center;
  border: solid 0.5px #4CAF50;
  border-radius: 0.2rem;
  width: 100%;
  margin: 5px;
  color: #4CAF50;
}

.editD:hover {
  background-color: #4CAF50;
  color: #fff;
}

.editDelete-button .deleteD {
  padding: 8px;
  font-size: 1.2rem;
  text-align: center;
  border: solid 0.5px #f44336;
  border-radius: 0.2rem;
  width: 100%;
  margin: 5px;
  color: #f44336;
}

.deleteD:hover {
  background-color: #f44336;
  color: #fff;
}


@media( max-width: 630px ) {

  .articleD-info, .like-icons {
    padding: 20px;
    padding-top: 0;
  }

  .articleD-title h1 {
    font-size: 2.3rem;
  }
  
  .articleD-desc h4 {
    font-size: 1.2rem;
  }

  .articleD-content {
    padding: 0 20px 0 20px;
  }

  .articleD-date {
    font-size: 1rem;
  }

  .articleD-author .authorD-comm {
    display: none;
  }

  .editDelete-button {
    flex-direction: column;
    max-width: 500px;
  }

}

div br {
  display: none;
}

.ellipsis {
  position: relative;
}

progress[value] {
  display: none;
  -webkit-appearance: none;
  appearance: none;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;
  height: 15px;
}

@media( max-width: 630px ) {
  progress[value] {
    width: 100vw;
    margin-left: -50vw;
  }
}

progress[value]::-webkit-progress-bar {
  border-radius: 0.1rem;
  background-color: white;
  margin: auto;
}

progress[value]::-webkit-progress-value {
  border-radius: 0.2rem; 
  background-size: 35px 20px, 100% 100%, 100% 100%;
  background-color: rgba(46, 112, 41, 1);
}

.menu-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 0;
}

.ellipsis:hover .menu-content {
  display: block;
}

#delete-article {
  padding: 200px 10px 300px 10px; 
}

.deleteA-card {
  max-width: 500px;
  max-height: 150px;
  margin:auto;
  padding: 10px;
  border: solid 0.5px rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.deleteA-card h3 {
  font-size: 1.2rem;
}

.delete-buttons {
  padding: 5px;
  width: 200px;
  margin: auto;
}

.delete-buttons .delete-confirm {
  padding: 10px;
  margin: 5px;
  background-color: rgba(219, 40, 40, 1);
  border: solid 0.5px rgba(219, 40, 40, 1);
  border-radius: 0.2rem;
  color: white;
}

.delete-buttons .delete-cancel {
  padding: 10px;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.84);
  border: solid 0.5px rgba(0, 0, 0, 0.84);
  border-radius: 0.2rem;
  color: white;
}

.delete-cancel:hover {
  opacity: 0.5;
}

.delete-confirm:hover {
  opacity: 0.5;
}

.deletedA-m {
  position: absolute;
  top: 60px;
  width: 100%;
  text-align: center;
  padding: 8px;
  transition: all 10s ease;
}

.deletedA-m h2 {
  display: inline;
  font-size: 1.5rem;
  padding: 10px;
  color: #db2828;
}

.deletedA-m i {
  margin-bottom: 11px;
}